.header {
    border-color: goldenrod;
    border: 1px;
    
}

.Main {
    list-style: none;
    display:inline-block;
}

.a {
    color: purple;
}

.disabled span:first-child {
    color: grey;
}

.disabled span:nth-child(2) {
    color: grey; 
}

.disabled span:nth-child(3) {
    color: grey;
}

.disabled a:nth-child(4) {
    color: grey
}

.disabled a:nth-child(5) {
    color: grey;
}

.active {
    color: yellow;
}

.parent div:first-child {
    color: red;
}

.parent div:nth-child(3) {
    color: blue;
}

.parent h4:nth-child(2){
    background-color: red;
}

.parent h4:nth-child(4) {
    background-color:blue;
}

.gra {
    border: 1px;
    border-radius: 12px;
}

.promo {
    font-weight: bold;
    color: gold;
}